code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  padding: 0;
  margin: 0;
}

.fetchError {
  font-size: 1.5rem;
  text-align: center;
  color: darkred;
  padding: 1rem;
}
