html {
  background-color: #57597c;
  opacity: 1;
  background-image: linear-gradient(
      #676983 0.7000000000000001px,
      transparent 0.7000000000000001px
    ),
    linear-gradient(
      to right,
      #676983 0.7000000000000001px,
      #57597c 0.7000000000000001px
    );
  background-size: 14px 14px;
  height: 100vh;
  width: 100vw;
  color: gray;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Arial, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  padding: 0;
  margin: 0;
}

.fetchError {
  font-size: 1.5rem;
  text-align: center;
  color: darkred;
  padding: 1rem;
}
